<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>

    <add key="RemoteReaderAssembly" value="Symbol.RFID.SDK.Domain.Reader.dll"/>
    <add key="RemoteReaderService" value="Symbol.RFID.SDK.Domain.Reader.ZetiRfidReader"/>

    <add key="RemoteReaderInfrastructureServiceAssembly" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.dll"/>
    <add key="RemoteReaderInfrastructureService" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.ZetiRfidReaderAdapter"/>


    <!--Bluetooth Device Settings-->
    <add key="RemoteReaderConnectionAssembly" value="Symbol.RFID.SDK.Connectivity.Windows.dll"/>
    <add key="RemoteReaderConnectionService" value="Symbol.RFID.SDK.Connectivity.Windows.SocketDeviceConnection"/>

    <add key="RemoteReaderDiscoveryServiceAssembly" value="Symbol.RFID.SDK.Discovery.Windows.dll"/>
    <add key="RemoteReaderDiscoveryService" value="Symbol.RFID.SDK.Discovery.Windows.ReaderWatcher"/>

    <add key="RemoteReaderManagementServiceAssembly" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.Management.dll"/>
    <add key="RemoteReaderManagementService" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.Management.RemoteReaderManagement"/>

    <!--USB Device Settings-->
    <add key="UsbReaderConnectionAssembly" value="Symbol.RFID.SDK.Connectivity.Windows.dll"/>
    <add key="UsbReaderConnectionService" value="Symbol.RFID.SDK.Connectivity.Windows.UsbSerialPortDeviceConnection"/>

    <add key="UsbReaderDiscoveryServiceAssembly" value="Symbol.RFID.SDK.Discovery.Windows.dll"/>
    <add key="UsbReaderDiscoveryService" value="Symbol.RFID.SDK.Discovery.Windows.UsbReaderWatcher"/>

    <add key="UsbReaderManagementServiceAssembly" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.Management.dll"/>
    <add key="UsbReaderManagementService" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.Management.UsbReaderManagement"/>

    <!--IP Device Settings-->
    <add key="IpReaderConnectionAssembly" value="Symbol.RFID.SDK.Connectivity.Windows.dll"/>
    <add key="IpReaderConnectionService" value="Symbol.RFID.SDK.Connectivity.Windows.IPSocketDeviceConnection"/>

    <add key="IpReaderDiscoveryServiceAssembly" value="Symbol.RFID.SDK.Discovery.Windows.dll"/>
    <add key="IpReaderDiscoveryService" value="Symbol.RFID.SDK.Discovery.Windows.IPReaderWatcher"/>

    <add key="IpReaderManagementServiceAssembly" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.Management.dll"/>
    <add key="IpReaderManagementService" value="Symbol.RFID.SDK.Domain.Reader.Infrastructure.Management.IPReaderManagement"/>

    <!--When the following key, the value pair not present in the configuration logging will be disabled.
        To enable log set the value to "true" and otherwise "false".-->
    <add key="LogEnabled" value="true"/>

    <!--Logging is enabled and when the following key, value pair is not present, it will log all possible logs.
        To enable log for specified libraries, put the comma(cnn, dsc) separated library key values and see the following list
        
        Library                                                   Key
        
        All logs                                                - all
        Symbol.RFID.SDK                                         - sdk
        Symbol.RFID.SDK.Connectivity.Windows                    - cnn
        Symbol.RFID.SDK.Discovery.Windows                       - dsc
        Symbol.RFID.SDK.Domain.Reader                           - rdr
        Symbol.RFID.SDK.Domain.Reader.Infrastructure            - inf 
        Symbol.RFID.SDK.Domain.Reader.Infrastructure.Management - mng
        Symbol.RFID.SDK.USB                                     - usb
    -->
    <add key="LogNamespace" value="cnn"/>

  </appSettings>
</configuration>
